@mixin button-variant($color: $ca-color-brand, $color-name: brand) {
    background: $color;
    border-color: ca-darken($color-name, 3%);
    color: $button-text-color;
    &:focus {
      @include control-shadow($color);
    }
    &:focus,
    &:hover {
      background: ca-darken($color-name, 5%);
      border-color: ca-darken($color-name, 8%);
      color: $button-text-color;
    }
    &:active,
    &.active {
      background: ca-darken($color-name, 10%);
      border-color: ca-darken($color-name, 13%);
      color: $button-text-color;
    }
    &.loading {
      &::after {
        border-bottom-color: $button-text-color;
        border-left-color: $button-text-color;
      }
    }
  }
  
  @mixin button-outline-variant($color: $ca-color-brand, $color-name: brand) {
    background: $ca-color-background;
    border-color: $color;
    color: $color;
    &:focus {
      @include control-shadow($color);
    }
    &:focus,
    &:hover {
        background: $color;
        border-color: ca-darken($color-name, 5%);
        color: $ca-color-background;
    }
    &:active,
    &.active {
      background: ca-darken($color-name, 5%);
      border-color: ca-darken($color-name, 10%);
      color: $ca-color-background;
    }
    &.loading {
      &::after {
        border-bottom-color: $color;
        border-left-color: $color;
      }
    }
  }